$border-color: rgba(0, 0, 0, 0.12);
$hover-color: rgba(0, 0, 0, 0.04);
$background-color: #039be5;
$text-color-main:  #fff;
$text-color-secondary: #000;

$font-family: Muli, Helvetica Neue, Arial, sans-serif;

$schedule-item-width: (100 / 7) * 1%;

$media-width-mobile: 667px;